{% extends 'index.html' %}

{% block content %}
<div style="text-align: center; margin-top: 150px;">
    
    <h1>Authentification</h1>

    {% if user.is_authenticated %}

        <h3>Hello {{ user.username }}!</h3>
        <br>
        <a href="{% url 'logout' %}">Se déconnecter</a>
    
    {% else %}

        <p>Tu n'es pas connecté!</p>

        <a href="{% url 'login' %}">Connexion</a>
        <br>
        <a href="{% url 'register' %}">Je crée un compte</a>

    {% endif %}

{% endblock %}